.title {
    font-size: 2rem;
    font-weight: bold;

    margin-top: 50px;
}

.app-list {
    margin-left: 135px;
    margin-right: 135px;
}

.app-class {
    font-size: 1rem;
    font-weight: bold;
}

.app-title {
    font-size: 0.9rem;
    font-style: italic;
}

.footer {
    margin-bottom: 10px;
    margin-right: 10px;
}